@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
  margin:0; 
  padding:0; 
}
.btn{
    padding: 15px 21px;
    background-color: rgb(82, 195, 3);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 11px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    cursor: pointer;

}
.btn-container{
    text-align: center;
    padding-top: 20px;
}
#hero{
height: 661px;
background-image: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
url("../assets/hero-bg.png");
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}
#hero .hero-content{
    width: 736px;
}
#hero .hero-content .subtitle {
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 19px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;

}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 37px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
}

#hero .hero-content .description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}

#card-box{
    width: 950px;
    margin: 50px auto;
}
#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 30px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0%;
text-align: center;

}
#card-box .subtitle{
    opacity: 0.6;
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 17px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}

#card-box {
    margin-top: 100px ;
    margin-bottom: 105px ;
}
.card-container{
    margin-top:34px ;
    display: flex;
    justify-content: space-between ;
    font-family: Work Sans;
}
.card{
    max-width: 305px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.card .image-box{
    width:305px ;
}

.card .image-box img{
   width: 100%;
}
.card .shop{
font-size: 17px;
font-weight: 600;
background-color: cadetblue;
padding: 10px 23px 10px 23px;
background: rgba(82, 195, 3, 0.15) 

}

